@import '../App.scss';

nav {
    background-color: $primaryDark;
    color: white;
    padding: 1rem 3rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    
    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: white;
    }
    .nav-links {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        
        li{
            width: 2.5rem;
            &:hover {
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
};