* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;
  min-width: 768px;
  position: relative;

  .app {
    // overflow-y: scroll;
    // overflow-x: hidden;
    // scroll-behavior: smooth;
    // this scroll setting will make the page always shows a whole section, stops at the start of a section
    // attention: this setting has two parts, one is in the parent element, another in the children elements
    // scroll-snap-type: y mandatory;
    // scrollbar-width: none; // only for firefox

    .home {

      .sections {
        // height: 100vh;
        // position: relative;
        // margin: 0;
        // padding: 0;
        // scroll-padding: 0;

        >* {
          height: 100vh;
          // scroll-snap-align: center;
          position: relative;
        }
      }
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}